.text-red {
    color: $--color-red !important;
}
.text-green {
    color: $--color-success !important;
}
.text-white {
    color: #fff !important;
}
.text-primary {
    color: $--color-primary !important;
}
.back-primary {
    background: $--color-primary !important;
}
